.mainContainer{
    height: max-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #2E286F; */
    background: right fixed url(../../assets/background_2.svg);
    background-size: cover;
}
.mainContainer h1{
    margin: 0px;
    color: #CED3F2;
}

.dataContainer{
    display: flex;
    height: 60%;
    flex-direction: column;
    background-color: #4545c290;
    /* background-color: grey; */
    padding: 30px;
    border-radius: 50px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.buttonsContainer{
    position: absolute;
    bottom: -35px;
    display: flex;
}

.buttonsContainer button{
    color: 170A1C;
    font-weight: 1000;
    background-color: #06a77cc3;
    -webkit-box-shadow: 0 15.5px 13px -3.5px rgba(3, 79, 59, 0.47);
    -moz-box-shadow: 0 15.5px 13px -3.5px rgba(3, 79, 59, 0.47);
    box-shadow: 0 15.5px 13px -3.5px rgba(3, 79, 59, 0.47);
   /*  background-color: rgb(95, 95, 95); */
    margin: 10px;
    font-size: x-large;
    border-radius: 20px;
  /*   border: 1px solid rgb(138, 138, 138); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.buttonsContainer button:hover{
    transform: scale(1.1);
}

.downloadImage{
    width: 35px;
    margin-right: 3px;
}

@media (max-width: 587px) {
    .buttonsContainer{
        flex-direction: column;
        width: 80%;
        position: relative;
        bottom: none;
        padding: 0px;
    }
    .buttonsContainer button{
        width: 100%;
    }
    .dataContainer{
        padding: 0px;
        width: 90%;
        height: 90%;
        padding-bottom: 15px;
        padding-top: 10px;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .mainContainer h1{
        font-size: 40px;
    }
    .mainContainer br{
        display: none;
    }
    .mainContainer{
        align-items: flex-end;
    }
}