.mainContainer{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
    color: #F1F8F9;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: right fixed url(../../../assets/background_1.svg);
    background-size: cover;
/*     background-color: aquamarine; */
}



.principalSkillsContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.principalSkill{
    margin: 0.2rem 1rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;
}
.principalSkill:hover{
    transform: scale(1.1);
}
.principalSkill img{
    width: 100%;
}
.principalSkill h2{
    margin: 5px;
}



.secondarySkillsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.secondarySkill{
    margin: 0.1rem 1rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    transition: transform .2s;
}
.secondarySkill:hover{
    transform: scale(1.1);
}

.secondarySkill img{
    width: 100%;
}
.secondarySkill h3{
    /* color: rgba(199, 199, 199, 0.609); */
    color: #F1F8F9;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /*    display: none; */
}


/* RESPONSIVE */

/*  Tabletas */ 

@media (max-width: 980px) {
    .principalSkillsContainer{
        width: 80%;
    }
}

/* Celulares  */

@media (max-width: 560px) {
    .principalSkillsContainer{
        width: 100%;
    }
    .principalSkill{
        font-size: 1rem;
        width: 6rem;
    }
    .secondarySkill{
    /*     width: 1.1rem; */
        font-size: 0.5rem;
    }
}
@media (max-width: 410px) {
    .principalSkill{
        width: 5.5rem;
        margin: 0rem 1rem;
    }
    .principalSkill h2{
        margin: 0px;
    }

}