.mainContainer {
  height: 100vh;
/*   background-color: rgba(0, 255, 255, 0.708); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer h1 {
  margin: 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer h1{
  align-self: flex-start;
  margin: 5px 1rem;
  font-size: 2rem;
}

.imageFormContainer{
  max-width: 80%;
  border-radius: 3rem;
  position: relative;
  background-color: #ede3b5e7;
  padding: 2rem;
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.planeImage{
  width: 12rem;
}

.TextInput {
  width: 100%;
  height: 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  padding: 0.3rem;
}

.messageInput {
  border-radius: 10px;
  margin: 5px;
  height: 70px;
  width: 100%;
  resize: none;
  padding-left: 5px;
  border: none;
}
.submitButton {
  margin-top: 15px;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: #edcd2e;
  color: rgb(5, 5, 5);
  font-weight: 1000;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.submitButton:hover {
  cursor: pointer;
}

.snContainer {
  position: absolute;
  bottom: -10%;
}
.snContainer a {
  margin: 20px;
  /*   width: 20px;
    height: 20px; */
}
.snContainer a img {
  border-radius: 100%;
  width: 55px;
  height: 55px;
}
