.mainContainer {
  height: 100vh;
  /*   background-color: rgba(0, 255, 255, 0.708); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: right /* fixed */ url(../../assets/background_4.svg);
  background-size: cover;
}
.mainContainer h1 {
  margin: 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer h1 {
  align-self: flex-start;
  margin: 5px 1rem;
  font-size: 2rem;
  color: #f1f8f9;
}

.imageFormContainer {
  max-width: 80%;
  border-radius: 3rem;
  position: relative;
  background-color: #2e286f59;
  padding: 2rem;
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.planeImage {
  width: 12rem;
  opacity: 90%;
  transition: transform 0.2s;
}

.planeImage:hover {
  transform: scale(1.05);
}

.TextInput {
  width: 100%;
  height: 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  padding: 0.3rem;
  background-color: #f1f8f9c3;
}

.messageInput {
  border-radius: 10px;
  margin: 5px;
  height: 70px;
  width: 100%;
  resize: none;
  padding-left: 5px;
  border: none;
  background-color: #f1f8f9c3;
}
.submitButton {
  margin-top: 15px;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: #edcd2ee0;
  color: rgb(5, 5, 5);
  font-weight: 1000;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: transform 0.2s;
}
.submitButton:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.snContainer {
  position: absolute;
  bottom: -10%;
}
.snContainer a {
  margin: 20px;
  /*   width: 20px;
    height: 20px; */
  }
  .snContainer a img:hover {
    transform: scale(1.1);
  }
  
  .snContainer a img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    transition: transform 0.2s;
}
