.mainContainer{
    height:min-content;
    min-height: 100vh;
/*     background-color: rgba(47, 0, 255, 0.559); */
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    /* background: #06a77d; */
    background: right url(../../assets/background_5.svg);
    background-size: cover;
/*     background: -webkit-linear-gradient(0deg, #06a77d 0%, #2e286f 100%);
    background: linear-gradient(0deg, #06a77d 0%, #2e286f 100%); */
}

.mainContainer img{
    border-radius: 1rem;
    width: 100%;
}

.principalWorks{
    width: 40%;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.principalWork{
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}

.principalWork img{
    width: calc(100% + 7px);
}

.principaLinks {
    z-index: 2;
    position: absolute;
    right: 35%;
    bottom: -2rem;
    transition: transform .2s;
}

.principaLinks img:hover{
    transform: scale(1.1);
}

.principaLinks img{
    transition: transform .2s;
    position: relative;
    margin: 0px 10px;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
}

.principalInfo h1{
    font-size:large;
    margin:0px;
}

.principalInfo{
    border-radius: 1rem;
    padding: 5px;
    display: none;
    top: 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    height:calc(100% - 1rem) ;
    backdrop-filter: blur(4px);
/*     background: rgba(241, 241, 241, 0.44);
    background: -webkit-linear-gradient(0deg, rgba(241, 241, 241, 0.44) 0%, rgba(250, 250, 250, 0) 100%);
    background: linear-gradient(0deg, rgba(241, 241, 241, 0.44) 0%, rgba(250, 250, 250, 0) 100%); */
    background-color: #00000070;
    text-align: left;
    padding-bottom: 1rem;
    overflow-y: scroll;
}

.principalInfo::-webkit-scrollbar {
    width: 6px;
}

.principalInfo h2{
    margin: 2px 0px;
}

.principalWork:hover .principalInfo{
    display: block;
}

.principalInfo::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 6px;
}

.secondaryWorks{
    width: 40%;
    min-width: 450px;
    background-color: #170a1c92;
    /* background-color: rgb(113, 113, 113); */
    border-radius: 2rem;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    max-height: 80vh;
    overflow-y: scroll;
/*     border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; */
}

.secondaryWorks h2{
   margin:0.5rem 0rem;
}

.secondaryWorks::-webkit-scrollbar {
    width: 6px;
}

.secondaryWorks::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 6px;
}

.secondaryWork{
    padding: 0.1rem 0.5rem;
    width: 80%;
    background-color: #170a1c62;
    /* background-color: rgb(156, 156, 156); */
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    border-radius: 1rem;
    align-items: center;
    transition: transform .2s;
}

.secondaryWork:hover{
    transform: scale(1.04);
}

.secondaryLinks{
    display: flex;
}
.secondaryWork h3{
    margin: 0px;
    font-size: medium;
}
.secondaryLinks img{
/*     border-radius: 100%; */
    width: 2.5rem;
}

@media (max-width: 500px) {
    .principalWorks{
        width: 95%;
        min-width: 100px;
    }
    .secondaryWorks{
        width: 95%;
        min-width: 100px;
    }
    .principaLinks img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .secondaryLinks img{
        width: 2.5rem;
    }
}