.mainContainer{
    height:120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #170A1C; */
/*     background: #170A1C;
    background: -webkit-linear-gradient(0deg, #4545c2 0%, #170a1c 100%);
    background: linear-gradient(0deg, #4545c2 0%, #170a1c 100%); */
    background: right fixed url(../../../assets/background_3.svg);
    background-size: cover;
    /*     background-color: #faead6ba; */
}
.dataContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: min-content;
    width: 60%;
    background-color: #2E286F;
    font-size: 1.1rem;
    border-radius: 3rem;
    text-align: left;
    padding: 2rem;
    color: #F1F8F9;
}
.dataContainer h2{
    margin: 0px;
}
.dataContainer h3{
    margin: 0px;
    color: #CED3F2;
    font-size: 1.4rem;
/*     height: 100%;
    text-align: center; */
}
.imageContiner{
    position:absolute;
    width: 7rem;
    right: -3rem;
    top:-3rem;
}
.imageContiner img{
    width: 100%;
}


/* RESPONSIVE */
@media (max-width: 1400px) {
    .dataContainer {
      font-size: 1.0rem;
    }
    .dataContainer h3 {
      font-size: 1.3rem;
    }
}

/*  Tabletas */ 

@media (max-width: 768px) {
    .dataContainer{
        width: 80%;
    }
    .dataContainer h3 {
      font-size: 1.2rem;
    }
    .imageContiner{
        right: 40%;
        top: -4.5rem;
        width: 6rem;
    }
}

/* Celulares  */

@media (max-width: 470px) {
    .dataContainer {
        width: 80%;
        font-size: 0.9rem;
        padding: 2rem 1rem;
        text-align: center;
    }
    .dataContainer h3 {
      font-size: 1rem;
    }
    .imageContiner{
        top:-3rem;
        right: calc(50% - 2.5rem);
        width: 5rem;
    }
}